* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    background-color: lightblue;
}

#logo {
    float: left;
    margin-left: 5%;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 5%;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
}