* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    background-color: lightblue;
}

/* headings and logo */

h1,
h2 {
    color: black;
}

#logo {
    float: left;
    margin-left: 5%;
    font-size: 240%;
}

/* navigation links */

#menu {
    font-size: 120%;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 5%;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

/* hero image */

/* hero-outer code taken from Love Running */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-rdne-stock-project-6655601.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 25%;
}

/* introduction section */

#introduction-image-right {
    float: right;
}

#introduction {
    margin: 20px 0;
    text-align: center;
}

.home-left-text {
    float: left;
    width: 33%;
    padding-bottom: 30px;
    clear: left;
    margin-left: 5%;
}

hr {
    border-top: 2px solid black;
    padding-bottom: 10px;
    clear: both;
}

.home-middle-section {
    padding: 8vw 0;
}

#free-day-span {
    float: right;
}

/* time table styling */

#time-table {
    clear: both;
    width: 33%;
    margin: 0 auto;
    padding-top: 100px;
}

#time-table h3 {
    text-align: center;
}

#time-table table {
    margin: 0 auto;
}

#time-table th,
#time-table td {
    padding: 0 20px;
}

/* footer */

footer {
    height: 100px;
    background-color: brown;
}

#footer-links {
    float: right;
    margin-right: 5%;
    list-style-type: none;
    padding-top: 40px;
}

#footer-links li {
    list-style-type: none;
    display: inline;
    padding: 0 30px;
}

#footer-links i {
    font-size: 160%;
    color: lightblue;
}

#footer-contact {
    float: left;
    margin-left: 5%;
    padding-top: 30px;
}

#footer-contact p {
    color: lightblue;
    font-size: 120%;
}