* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: black;
    background-color: lightblue;
}

/* headings and logo */

h1,
h2 {
    color: black;
}

#logo {
    float: left;
    margin-left: 5%;
    font-size: 240%;
}

/* navigation links */

#menu {
    font-size: 120%;
    margin-right: 5%;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    padding: 0 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}

/* hero image */

/* hero-outer code taken from Love Running */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pex-rsp-child-and-adults.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 25%;
}

#about-image {
    height: 600px;
    width: 100%;
    background: url(../images/pex-mn-hands.jpg) no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}

/* introduction section */

#introduction-image-right {
    float: right;
}

.introduction {
    margin: 20px 0;
    text-align: center;
}

.home-left-text {
    float: left;
    width: 33%;
    padding-bottom: 30px;
    clear: left;
    margin-left: 5%;
}

hr {
    border-top: 2px solid black;
    margin-bottom: 10px;
    clear: both;
}

/* Might Remove since it seems redundant, even causing the about page experience errors
.home-middle-section {
    height: 600px;
}
*/

#free-day-span {
    float: right;
}

/* time table styling */

#time-table {
    clear: both;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#time-table h3 {
    text-align: center;
}

#time-table table {
    margin: 0 auto;
}

#time-table th,
#time-table td {
    padding: 0 20px;
}

#time-table table+hr {
    margin-top: 10px;
}

/* footer */

footer {
    height: 100px;
    background-color: brown;
}

#footer-links {
    float: right;
    margin-right: 5%;
    list-style-type: none;
    padding-top: 40px;
}

#footer-links li {
    list-style-type: none;
    display: inline;
    padding: 0 30px;
}

#footer-links i {
    font-size: 160%;
    color: lightblue;
}

#footer-links i:hover {
    color: white;
    border-bottom: 2px solid white;
}

#footer-contact {
    float: left;
    margin-left: 5%;
    padding-top: 30px;
}

#footer-contact p {
    color: lightblue;
    font-size: 120%;
}

/* about images */

#about-images {
    clear: both;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 80px 0;
}

#about-images img {
    height: 250px;
    background-size: cover;
}

#about-media {
    clear: both;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 50px 0 80px 0;
}

#about-media p {
    padding: 0 5%;
    text-align: center;
}

#about-media i {
    padding-top: 10%;
    font-size: 400%;
    color: brown;
}

#about-media i:hover {
    font-size: 600%;
    border-bottom: 2px solid brown;
}

/* form style, code from Love Running */

.form-section {
    clear: left;

}

.signup-form {
    margin: 150px 5%;
    color: white;
    background-color: brown;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
}

.signup-form h2 {
    color: white;
    margin-bottom: 20px;
}

.signup-form a {
    color: lightblue;
}

.text-input {
    background: brown;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
}

.text-input:hover {
    background-color: white;
    color: black;
}

.text-area {
    background: brown;
    color: white;
    width: 100%;
    height: 200px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
}

.text-area:hover {
    background-color: white;
    color: black;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: burlywood;
    color: white;
    display: block;
}

.join-button:hover {
    background-color: white;
    color: brown;
}

/* confirmation */

#confirmation {
    font-size: 300%;
    text-align: center;
    padding: 100px 0;
    color: brown;
}


/* media query */

@media screen and (max-width: 916px) {
    #hero-image {
        background-size: contain;
        height: 67vw;
    }

    #about-image {
        background-size: cover;
        height: 67vw;
    }

    #hero-outer {
        height: 67vw;
    }

}

@media screen and (max-width: 760px) {
    #menu {
        clear: left;
        float: left;
    }

    footer {
        height: 200px;
        background-color: brown;
    }

    #footer-links {
        clear: left;
        float: left;
    }

    .home-left-text {
        width: 90%;
        clear: both;
        float: none;
        margin-right: 5%;
    }

    .signup-form {
        width: initial;
    }

    #introduction-image-right {
        clear: both;
        float: initial;
        padding-bottom: 30px;
    }

    #introduction-image-right img {
        width: 100%;
    }

    #about-media {
        clear: both;
        float: initial;
    }

    #about-media img {
        float: right;
        width: 50%;
    }

}

@media screen and (max-width: 360px) {
    #menu li {
        padding: 0 15px;
    }

    #footer-links li {
        padding: 0 15px;
    }
}